!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html.no-js
  / <![endif]
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title
    %meta{content: "", name: "description"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %link{href: "css/normalize.min.css", rel: "stylesheet"}/
    %link{href: "css/main.css", rel: "stylesheet"}/
    %script{src: "js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"}
  %body
    /[if lt IE 7]
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    .header-container
      %header.wrapper.clearfix
        %h1.title VietnamNom.com
        %nav
          %ul
            %li
    .main-container
      .main.wrapper.clearfix
        %article
          %header 
            %h1 VietnamNomnomnomnom
            %h4 Reasons to buy me some noodles:

            %ol
              %li you were just gonna lose those coins in the theatre anyway.
              %li i am hungry.
              %li this website is bitchin and totally took me 39min to put together. 

            %p if you do find it in your heart to toss me magic dubloons with which to purchase the one true noodle (pho') i will reward you with jokes and stories. This is my parlor trick. No stripping, no dancing. Just plain ol' stories. So chip in, and i will spin you a good yarn over a bowl of soup.

            Thanks!

            %p - Dean

        %aside
          %h2 Help buy me some noodles:
          %form{action: "https://www.paypal.com/cgi-bin/webscr", method: "post", target: "_top"}
            %input{name: "cmd", type: "hidden", value: "_s-xclick"}/
            %input{name: "hosted_button_id", type: "hidden", value: "DYG458QB7MPLL"}/
            %table
              %tr
                %td
                  %input{name: "on0", type: "hidden", value: "Buy me some noodles!"}>/
              %tr
                %td
                  %select{name: "os0"}
                    %option{value: "50 Phoking cents"} 50 Phokin' cents $0.50 USD
                    %option{value: "One Phokn' DOLLA"} One Phokn' DOLLA $1.00 USD
                    %option{value: "3 bux"} $3.00 USD
                    %option{value: "10 smackaroos"} 10 smackaroos $10.00 USD
                    %option{value: "an entire vietnamese resteraunt"} an entire restaurant $100,000.00 USD
            %input{name: "currency_code", type: "hidden", value: "USD"}/
            %input{alt: "PayPal - The safer, easier way to pay online!", border: "0", name: "submit", src: "https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif", type: "image"}/
            %img{alt: "", border: "0", height: "1", src: "https://www.paypalobjects.com/en_US/i/scr/pixel.gif", width: "1"}/
      / #main
    / #main-container
    %script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"}
    :javascript
      window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\/script>')
    %script{src: "js/main.js"}
    :javascript
      ga('create', 'UA-51745612-1', 'vietnamnom.com');
      ga('send', 'pageview');
